Repository tira-io/tirex-tracker, pull requests merged in 2025-05, with the labels that each got.

#90 Report Energy Measurements to YAML
  c/extensions/irtracker.cpp
  c/src/measure/stats/energystats.cpp
Labels: enhancement, c/c++

#89 TIREx-tracker embedding into TIRA
  sh/README.md
  sh/test/test_in_docker_images_with_tirex_tracker_available.py
  sh/test/test_in_docker_images_with_tirex_tracker_not_available.py
  sh/tirex-tracker.sh
Labels: enhancement

#91 Fix partially mounted repos
  python/tirex_tracker/archive_utils.py
Labels: bug, python

#99 Replace Python YAML parser/formatter
  python/pyproject.toml
  python/test/test_integration.py
  python/tirex_tracker/__init__.py
Labels: bug, python
